:root {
    --primary-color: #AACCCF;
    --secondary-color: #333;
    --text-color: #fff;
}

h1 {
    font-family: "Comic Sans MS", cursive;
}

header {
    
    background-color: var(--secondary-color);
    
}

main {
    background-color: var(--primary-color);
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: var(--secondary-color);
}

ul {
    color: var(--text-color);
    list-style: none;
}

.links {
    display: flex;
    justify-content: center;
    gap: 25%;
    padding: 20px;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links_footer  {
    display: flex;
    justify-content: center;
    gap: 25%;
    padding: 20px;
}
